.navLinkCustom {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.brandCustom {
    font-size:30px; 
    font-weight: bold;
  }
  .navbarShadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@media (max-width:768px){
  .navbarCollapseRight {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh; 
    width:100px; 
    padding-top: 1rem;
    z-index: 1000; 
  }

}